nav {
  position: absolute;
  top: 0;
  right: 0;
}

nav ul {
  position: absolute;
  z-index: 100;
  top: 4rem;
  right: 4rem;

  width: 30rem;
  margin: 0;
  padding: 0;

  list-style-type: none;

  border-radius: 1rem;
  background: lighten($color-gray-lightest, 5%);
  box-shadow: 0 0 1rem $color-gray;
}
nav ul li {
  margin: 0;
  padding: 0;

  border-top: 0 solid $color-gray-lightest;
  &:first-child {
    border: 0;
  }
}

nav ul li a {
  font-size: 1.8rem;

  display: block;

  margin: 0;
  padding: 1.25rem;
  padding-left: 2rem;
  &:hover {
    text-decoration: none;

    background: linear-gradient(to right, lighten($color-gray-lightest, 10%) 0%, lighten($color-gray-lightest, 5%) 100%);
  }
}

nav ul li:first-child a {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

nav ul li:last-child a {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

nav input {
  display: none;
}

nav label {
  position: absolute;
  z-index: 200;
  top: 2.0rem;
  right: 2.5rem;

  display: inline-block;
  float: right;

  width: 5rem;
  height: 5rem;

  cursor: pointer;

  border-radius: 50%;
  background: lighten($color-gray-lightest, 5%);
}

nav input[type=checkbox] ~ ul {
  visibility: hidden;

  transition: 100ms ease;

  opacity: 0;

  filter: alpha(opacity=0);
}

nav input[type=checkbox]:checked ~ ul {
  visibility: visible;

  opacity: 1;

  filter: alpha(opacity=100);
}

nav input[type=checkbox] ~ label {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><line x1="15" x2="35" y1="19" y2="19" stroke-width="3" stroke="#{$color-gray-darkest}" /><line x1="15" x2="35" y1="25" y2="25" stroke-width="3" stroke="#{$color-gray-darkest}" /><line x1="15" x2="35" y1="31" y2="31" stroke-width="3" stroke="#{$color-gray-darkest}" /></svg>');
}

nav input[type=checkbox]:checked ~ label {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><line x1="17" x2="33" y1="17" y2="33" stroke-width="3" stroke="#{$color-gray-darkest}" /><line x1="17" x2="33" y1="33" y2="17" stroke-width="3" stroke="#{$color-gray-darkest}" /></svg>');
}
