

.panel {
  position: relative;
  z-index: 100;

  min-height: $panel-height;
  margin: 1rem 0.5rem;
  padding: 0;

  border-radius: 1rem;
  background: $color-panel-light;
}

.panel.double {
  min-height: $panel-height * 2 + $panel-padding;
}

.panel > header {
  height: $panel-header-height;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: $color-gray-lightest;
  h2 {
    font-size: 2.4rem;
    line-height: $panel-header-height;

    margin: 0;
    padding: 0;

    text-align: center;

    color: $color-gray-darker;
  }
}
.panel.info > header {
  background: lighten($color-info, 15%);
  h2 {
    color: $color-panel-light;
  }
}

.panel.success > header {
  background: lighten($color-success, 15%);
  h2 {
    color: $color-panel-light;
  }
}
.panel.danger > header {
  background: lighten($color-danger, 15%);
  h2 {
    color: $color-panel-light;
  }
}
.panel.warning > header {
  background: lighten($color-warning, 15%);
  h2 {
    color: $color-panel-light;
  }
}

.panel > main {
  overflow: hidden;

  padding: $panel-padding;

  white-space: nowrap;
  text-overflow: ellipsis;
}


.panel > main h3 {
  font-size: $panel-height - ($panel-padding * 2) - $panel-header-height - $panel-footer-height;
  line-height: $panel-height - ($panel-padding * 2) - $panel-header-height - $panel-footer-height;

  margin: 0;
  padding: 0;

  text-align: center;

  color: $color-gray-darker;
  sub {
    font-size: 2.0rem;

    bottom: 0;

    padding-right: 0.5rem;
    padding-left: 0.5rem;

    color: $color-gray;
  }
}

.panel > footer {
  font-size: 1.6rem;
  line-height: $panel-footer-height;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: $panel-footer-height;

  text-align: center;

  color: $color-gray-lighter;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: lighten($color-gray-lightest, 12%);
}
