p {
  margin-top: 0;
}

small {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

h2 {
  font-size: 28px;
  line-height: 1.25;
}

h3 {
  font-size: 24px;
  line-height: 1.3;
}

h4 {
  font-size: 20px;
  line-height: 1.35;
}

h5 {
  font-size: 18px;
  line-height: 1.5;
}

h6 {
  font-size: 16px;
  line-height: 1.4;
}

